# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextValves
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Avoid committing IDE files
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
